{% extends 'frontend/base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-center">
{% for self in self_posts %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="{{ self.author.profile.picture.url }}" style="object-fit: cover;" class="rounded-circle justify-content-start" width="50" height="50"><strong><a style="text-decoration: none;" href="{% url 'profile' self.author.pk %}">@{{ self.author }}</a></strong> {{ self.created_on }}
                    {% if self.author == request.user %}
                        <a href="{% url 'post-edit' self.pk %}"><i class="far fa-edit"></i></a>
                        <a href="{% url 'post-delete' self.pk %}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                    </h5>
                <p class="card-text"> <div class="position-relative">
                    {% if self.image %}
                    <img src="{{ self.image.url }}" class="post-image-status" />
                    {% endif %}
                    <p>{{ self.body }}</p>
                    <a href="{% url 'post-detail' self.pk %}" class="stretched-link"></a>
            </div>
            </div>
        </div>
</div>
        {% endfor %}
<div class="container">
        <div class="row justify-content-center mt-3 mb-3">
                <div class="col-md-5 col-sm-12">
                        <h3 class="justify-content-center mt-3">Update your status!</h3>
                </div>
        </div>
    <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block mt-2 mb-5 border-bottom">Update Status</button>
                    </div>
                </form>
            </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12">
                    <h3 class="justify-content-center">Friend's status:</h3>
            </div>
    </div>
    {% for post in post_list %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p><img src="{{ post.author.profile.picture.url }}" style="object-fit: cover;" class="rounded-circle justify-content-start" width="50" height="50">
            <strong><a style="text-decoration: none;" href="{% url 'profile' post.author.pk %}">@{{ post.author }}</a></strong>
            {{ post.created_on }}
            <div class="position-relative">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="post-image" />
            {% endif %}
            <p>{{ post.body }}</p>
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}